<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/masevsettings/css/form_settings.css') }}"/>
<script src="{{ asset('bundles/masevsettings/js/form_settings.js') }}"></script>
<div id="wrapper">
  <!-- Nav tabs -->
  <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-text mx-3">Settings {{ site }}</div>
    </a>
    {% for level1, level2_sections in sections %}
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        {{ level1|capitalize|replace({'_' : ' ' }) }}
      </div>
      {% for level2, value in level2_sections %}
        <li class="nav-item">
          <a class="nav-link settings-group-item" id="{{ "tab_"~level1~"_"~level2 }}">
            {#<i class="fas fa-fw fa-tachometer-alt"></i>#}
            <span>{{ level2|capitalize|replace({'_' : ' ' }) }}</span></a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div id="content-wrapper" class="d-flex flex-column container-fluid">
    {% for key, level2_section in level2_sections %}
      <div class="hide tab-pane" id="tab_{{ level2_section.level1 }}_{{ level2_section.name }}">
        <h6 class="mt-4 font-weight-bold text-danger">{{ level2_section.level1|capitalize|replace({'_' : ' ' }) }}
          > {{ level2_section.name|capitalize|replace({'_' : ' ' }) }}</h6>

        {% for key, item in data %}
          <div class="form-group">
            {% if item.schema.key starts with level2_section.level1~'.' and '.'~level2_section.name~'.' in item.schema.key %}
              {% if item.schema.form.type == "text" %}
                {% include '@MasevSettings/row/text.html.twig' with {'item' : item, 'path_update' : path_update, 'site' : site, 'key' : key } %}
              {% elseif item.schema.form.type == "textarea" %}
                {% include '@MasevSettings/row/textarea.html.twig' with {'item' : item, 'path_update' : path_update, 'site' : site, 'key' : key } %}
              {% elseif item.schema.form.type == "browseLocation" %}
                {% include '@MasevSettings/row/browse.html.twig' with {'item' : item, 'path_update' : path_update, 'site' : site, 'key' : key } %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>