{% embed '@ezdesign/ui/layout.html.twig' %}

    {% block content %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/masevsettings/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/masevsettings/css/index.css') }}" />

        <div class="main_settings_container">
            <div id="form_select_siteaccess">
                {{ form(form) }}
            </div>

            <div id="react-udw"></div>

            <div id="content_form_config"></div>

            <div class="clear_masev_cache">
                <button class="btn btn-default" data-method="POST" data-path="{{ path('masev_clear_cache') }}"
                        id="content_clear_cache">{{ 'masev.clear_cache'|trans }}
                </button>
                <div class="text-content"></div>
            </div>

            <script src="{{ asset('bundles/masevsettings/js/index.js') }}"></script>
        </div>
    {% endblock %}
{% endembed %}
